
# --- C COMPILER ---
CC = gcc
CFLAGS = -Wall -pedantic -O3 -I $(HSRCDIR) -I $(ISRCDIR) -lm
# ---------------------------
# --- END USER PARAMETERS ---
# ---------------------------

# ------------------------------------
# ------------------------------------
# ------------------------------------
# ------------------------------------
# ------------------------------------
# DON'T TOUCH ANYTHING BELOW THIS LINE
# ------------------------------------
# ------------------------------------
# ------------------------------------
# ------------------------------------
# ------------------------------------

EXEFILE = $(SCI2CDIR)/$(EXEFILENAME)

SWSRCS	=	\
	$(CSRCDIR)/doubleComplex.c \
	$(CSRCDIR)/floatComplex.c \
	$(CSRCDIR)/RealToComplex.c \
	$(CSRCDIR)/conj.c \
	$(CSRCDIR)/ones.c \
	$(CSRCDIR)/zeros.c \
	$(CSRCDIR)/OpApex.c \
	$(CSRCDIR)/OpColon.c \
	$(CSRCDIR)/OpDotHat.c \
	$(CSRCDIR)/OpDotSlash.c \
	$(CSRCDIR)/OpEqual.c \
	$(CSRCDIR)/OpIns.c \
	$(CSRCDIR)/OpExt.c \
	$(CSRCDIR)/cos.c \
	$(CSRCDIR)/cosh.c \
	$(CSRCDIR)/sin.c \
	$(CSRCDIR)/sinh.c  \
	$(CSRCDIR)/FileManagement.c \
	$(CSRCDIR)/OpLogLt.c \
	$(CSRCDIR)/OpLogGt.c \
	$(CSRCDIR)/OpLogGe.c \
	$(CSRCDIR)/OpLogLe.c \
	$(CSRCDIR)/OpLogEq.c \
	$(CSRCDIR)/OpLogOr.c \
	$(CSRCDIR)/OpLogAnd.c \
	$(CSRCDIR)/Find.c \
	$(CSRCDIR)/ConvertPrecision.c \
	$(CSRCDIR)/SCI2Cfft.c \
	$(CSRCDIR)/SCI2Cconvol.c \
	$(CSRCDIR)/ssqrts.c \
	$(CSRCDIR)/dsqrts.c \
	$(CSRCDIR)/csqrts.c \
	$(CSRCDIR)/zsqrts.c \
	$(CSRCDIR)/ssqrta.c \
	$(CSRCDIR)/dsqrta.c \
	$(CSRCDIR)/csqrta.c \
	$(CSRCDIR)/zsqrta.c \
	$(CSRCDIR)/sabss.c \
	$(CSRCDIR)/dabss.c \
	$(CSRCDIR)/cabss.c \
	$(CSRCDIR)/zabss.c \
	$(CSRCDIR)/sabsa.c \
	$(CSRCDIR)/dabsa.c \
	$(CSRCDIR)/cabsa.c \
	$(CSRCDIR)/zabsa.c \
	$(CSRCDIR)/smeana.c \
	$(CSRCDIR)/dmeana.c \
	$(CSRCDIR)/cmeana.c \
	$(CSRCDIR)/zmeana.c \
	$(CSRCDIR)/slog10s.c \
	$(CSRCDIR)/dlog10s.c \
	$(CSRCDIR)/slog10a.c \
	$(CSRCDIR)/dlog10a.c \
	$(CSRCDIR)/slog1ps.c \
	$(CSRCDIR)/dlog1ps.c \
	$(CSRCDIR)/slog1pa.c \
	$(CSRCDIR)/dlog1pa.c \
	$(CSRCDIR)/dfinda.c \
	$(CSRCDIR)/sfinda.c \
	$(CSRCDIR)/cfinda.c \
	$(CSRCDIR)/zfinda.c\
	$(CSRCDIR)/scats.c \
	$(CSRCDIR)/scata.c \
	$(CSRCDIR)/dcats.c \
	$(CSRCDIR)/dcata.c \
	$(CSRCDIR)/ccats.c \
	$(CSRCDIR)/ccata.c \
	$(CSRCDIR)/zcats.c \
	$(CSRCDIR)/zcata.c \
	$(CSRCDIR)/sdisps.c \
	$(CSRCDIR)/sdispa.c \
	$(CSRCDIR)/ddisps.c \
	$(CSRCDIR)/ddispa.c\
	$(CSRCDIR)/cdisps.c \
	$(CSRCDIR)/cdispa.c\
	$(CSRCDIR)/zdisps.c \
	$(CSRCDIR)/zdispa.c\
	$(CSRCDIR)/cmuls.c\
	$(CSRCDIR)/cmula.c \
	$(CSRCDIR)/dmuls.c\
	$(CSRCDIR)/dmula.c \
	$(CSRCDIR)/smuls.c\
	$(CSRCDIR)/smula.c \
	$(CSRCDIR)/zmuls.c\
	$(CSRCDIR)/zmula.c \
	$(CSRCDIR)/cadds.c\
	$(CSRCDIR)/cadda.c \
	$(CSRCDIR)/dadds.c\
	$(CSRCDIR)/dadda.c \
	$(CSRCDIR)/sadds.c\
	$(CSRCDIR)/sadda.c \
	$(CSRCDIR)/zadds.c\
	$(CSRCDIR)/zadda.c\
	$(CSRCDIR)/cdiffs.c\
	$(CSRCDIR)/cdiffa.c \
	$(CSRCDIR)/ddiffs.c\
	$(CSRCDIR)/ddiffa.c \
	$(CSRCDIR)/sdiffs.c\
	$(CSRCDIR)/sdiffa.c \
	$(CSRCDIR)/zdiffs.c\
	$(CSRCDIR)/zdiffa.c \
	$(CSRCDIR)/cfilla.c\
	$(CSRCDIR)/dfilla.c\
	$(CSRCDIR)/sfilla.c\
	$(CSRCDIR)/zfilla.c \
	$(CSRCDIR)/conesa.c\
	$(CSRCDIR)/donesa.c\
	$(CSRCDIR)/sonesa.c\
	$(CSRCDIR)/zonesa.c\
	$(CSRCDIR)/crdivs.c\
	$(CSRCDIR)/crdiva.c \
	$(CSRCDIR)/drdivs.c\
	$(CSRCDIR)/drdiva.c \
	$(CSRCDIR)/srdivs.c\
	$(CSRCDIR)/srdiva.c \
	$(CSRCDIR)/zrdivs.c\
	$(CSRCDIR)/zrdiva.c\
	$(CSRCDIR)/cldivs.c\
	$(CSRCDIR)/cldiva.c \
	$(CSRCDIR)/dldivs.c\
	$(CSRCDIR)/dldiva.c \
	$(CSRCDIR)/sldivs.c\
	$(CSRCDIR)/sldiva.c \
	$(CSRCDIR)/zldivs.c\
	$(CSRCDIR)/zldiva.c\
	$(CSRCDIR)/cconjs.c\
	$(CSRCDIR)/cconja.c\
	$(CSRCDIR)/zconjs.c\
	$(CSRCDIR)/zconja.c\
	$(CSRCDIR)/disp.c\
	$(CSRCDIR)/ceyea.c\
	$(CSRCDIR)/deyea.c\
	$(CSRCDIR)/seyea.c\
	$(CSRCDIR)/zeyea.c\
	$(CSRCDIR)/ctracea.c\
	$(CSRCDIR)/dtracea.c\
	$(CSRCDIR)/stracea.c\
	$(CSRCDIR)/ztracea.c\
	$(CSRCDIR)/srowmeana.c \
	$(CSRCDIR)/drowmeana.c \
	$(CSRCDIR)/crowmeana.c \
	$(CSRCDIR)/zrowmeana.c \
	$(CSRCDIR)/scolumnmeana.c \
	$(CSRCDIR)/dcolumnmeana.c \
	$(CSRCDIR)/ccolumnmeana.c \
	$(CSRCDIR)/zcolumnmeana.c \
	$(CSRCDIR)/ssuma.c \
	$(CSRCDIR)/dsuma.c \
	$(CSRCDIR)/csuma.c \
	$(CSRCDIR)/zsuma.c \
	$(CSRCDIR)/srowsuma.c \
	$(CSRCDIR)/drowsuma.c \
	$(CSRCDIR)/crowsuma.c \
	$(CSRCDIR)/zrowsuma.c \
	$(CSRCDIR)/scolumnsuma.c \
	$(CSRCDIR)/dcolumnsuma.c \
	$(CSRCDIR)/ccolumnsuma.c \
	$(CSRCDIR)/zcolumnsuma.c\
	$(CSRCDIR)/cmulma.c\
	$(CSRCDIR)/dmulma.c\
	$(CSRCDIR)/smulma.c\
	$(CSRCDIR)/zmulma.c\
	$(CSRCDIR)/svariancea.c \
	$(CSRCDIR)/dvariancea.c \
	$(CSRCDIR)/cvariancea.c \
	$(CSRCDIR)/zvariancea.c \
	$(CSRCDIR)/srowvariancea.c \
	$(CSRCDIR)/drowvariancea.c \
	$(CSRCDIR)/crowvariancea.c \
	$(CSRCDIR)/zrowvariancea.c \
	$(CSRCDIR)/scolumnvariancea.c \
	$(CSRCDIR)/dcolumnvariancea.c \
	$(CSRCDIR)/ccolumnvariancea.c \
	$(CSRCDIR)/zcolumnvariancea.c \
	$(CSRCDIR)/cpows.c \
	$(CSRCDIR)/cpowa.c \
	$(CSRCDIR)/dpows.c \
	$(CSRCDIR)/dpowa.c \
	$(CSRCDIR)/spows.c \
	$(CSRCDIR)/spowa.c \
	$(CSRCDIR)/zpows.c \
	$(CSRCDIR)/zpowa.c \
	$(CSRCDIR)/ctransposea.c \
	$(CSRCDIR)/dtransposea.c \
	$(CSRCDIR)/stransposea.c \
	$(CSRCDIR)/ztransposea.c \
	$(CSRCDIR)/clogs.c \
	$(CSRCDIR)/cloga.c \
	$(CSRCDIR)/dlogs.c \
	$(CSRCDIR)/dloga.c \
	$(CSRCDIR)/slogs.c \
	$(CSRCDIR)/sloga.c \
	$(CSRCDIR)/zlogs.c \
	$(CSRCDIR)/zloga.c \
	$(CSRCDIR)/cpythags.c\
	$(CSRCDIR)/dpythags.c \
	$(CSRCDIR)/spythags.c\
	$(CSRCDIR)/zpythags.c \
	$(CSRCDIR)/cacoss.c \
	$(CSRCDIR)/cacosa.c \
	$(CSRCDIR)/dacoss.c \
	$(CSRCDIR)/dacosa.c \
	$(CSRCDIR)/sacoss.c \
	$(CSRCDIR)/sacosa.c \
	$(CSRCDIR)/zacoss.c \
	$(CSRCDIR)/zacosa.c  \
	$(CSRCDIR)/catans.c \
	$(CSRCDIR)/catana.c \
	$(CSRCDIR)/datans.c \
	$(CSRCDIR)/datana.c \
	$(CSRCDIR)/satans.c \
	$(CSRCDIR)/satana.c \
	$(CSRCDIR)/zatans.c \
	$(CSRCDIR)/zatana.c \
	$(CSRCDIR)/dlnp1m1s.c \
	$(CSRCDIR)/slnp1m1s.c\
	$(CSRCDIR)/cacoshs.c \
	$(CSRCDIR)/cacosha.c \
	$(CSRCDIR)/dacoshs.c \
	$(CSRCDIR)/dacosha.c \
	$(CSRCDIR)/sacoshs.c \
	$(CSRCDIR)/sacosha.c \
	$(CSRCDIR)/zacoshs.c \
	$(CSRCDIR)/zacosha.c\
	$(CSRCDIR)/crdivma.c \
	$(CSRCDIR)/drdivma.c \
	$(CSRCDIR)/srdivma.c \
	$(CSRCDIR)/zrdivma.c\
	$(CSRCDIR)/cldivma.c \
	$(CSRCDIR)/dldivma.c \
	$(CSRCDIR)/sldivma.c \
	$(CSRCDIR)/zldivma.c \
#####   invesion	#########\
	$(CSRCDIR)/cinverma.c \
	$(CSRCDIR)/dinverma.c \
	$(CSRCDIR)/sinverma.c \
	$(CSRCDIR)/zinverma.c \
#####   exp and expm	#########\
	$(CSRCDIR)/cexps.c \
	$(CSRCDIR)/dexps.c \
	$(CSRCDIR)/cexps.c \
	$(CSRCDIR)/zexps.c \
	$(CSRCDIR)/cexpa.c \
	$(CSRCDIR)/dexpa.c \
	$(CSRCDIR)/sexpa.c \
	$(CSRCDIR)/zexpa.c \
	$(CSRCDIR)/cexpma.c \
	$(CSRCDIR)/dexpma.c \
	$(CSRCDIR)/sexpma.c \
	$(CSRCDIR)/zexpma.c \
#####   frexp	#########\	
	$(CSRCDIR)/dfrexps.c \
	$(CSRCDIR)/sfrexps.c \
#####   frexp	#########\		
	$(CSRCDIR)/cinfnorma.c \	
	$(CSRCDIR)/dinfnorma.c \	
	$(CSRCDIR)/sinfnorma.c \	
	$(CSRCDIR)/zinfnorma.c 
	
	
	
	
#	$(CSRCDIR)/clog10s.c \
#	$(CSRCDIR)/zlog10s.c \
#	$(CSRCDIR)/clog10a.c \
#	$(CSRCDIR)/zlog10a.c \
#	$(CSRCDIR)/clog1ps.c \
#	$(CSRCDIR)/zlog1ps.c \
#	$(CSRCDIR)/clog1pa.c \
#	$(CSRCDIR)/zlog1pa.c

SWOBJS	=	$(SWSRCS:.c=.o)

# ---------------
# --- TARGETS ---
# ---------------
compileexecute: $(SWOBJS)
	@echo " "
	@echo "============================"
	@echo "Generation of the executable"
	@echo "============================"
	$(CC) $(CFLAGS) $(SWOBJS) $(SCI2CDIR)/*.c -llapack -lblas -o $(EXEFILE)
	@echo " "
	@echo "=============="
	@echo "Executing code"
	@echo "=============="
	$(EXEFILE)

clean:
	@echo " "
	@echo "============================="
	@echo "Removing only exe + obj files"
	@echo "============================="
	rm -rf $(EXEFILE)
	rm -rf $(SWOBJS)
	@echo " "

cleanexe:
	@echo " "
	@echo "=========================="
	@echo "Removing only the exe file"
	@echo "=========================="
	rm -rf $(EXEFILE)
	@echo " "

# how to compile object code .o from C source files .c (general rule)
# space between -o and filename for SUN make
.c.o:
	$(CC) $(CFLAGS) -c -o $(@) $<

# Make object code from source
swobjs:		$(SWOBJS)

